# Mac system files
.DS_Store

# Node dependencies
node_modules/

# Cypress output (optional, nên ignore nếu không cần debug log hoặc CI sẽ tạo lại)
cypress/videos/
cypress/screenshots/

# Env files
.env
.env.local
.env.*.local
